{% extends "layout.html" %}

{% block title %}
    Append
{% endblock %}

{% block main %}
    <h1 class="text-success">APPEND</h1>
    <form action="/append" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="append" name="append" placeholder="Task" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="date" name="date" placeholder="Due to date" type="date" min={{date}}>
        </div>
        <button class="btn btn-success" type="submit">Append</button>
    </form>
{% endblock %}
