{% extends "layout.html" %}

{% block title %}
    Destroy
{% endblock %}

{% block main %}
    <h1 class="text-danger">DESTROY</h1>
    <form action="/destroy" method="post">
        <div class="alert alert-warning" role="alert">
            Upon confirmation, your entire TO-DO list will be destroyed and cannot be restored.
          </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-danger" type="submit">DESTROY</button>
    </form>
{% endblock %}
